{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "node" : true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "module": true,
    "inject": true,
    "_": true
  }
}