extends  ./src/pug/base/template

//- This block will be injected to basic tmpl
block content
  //- "include" your blocks here: https://pugjs.org/language/includes.html
//- This block will be injected to basic tmpl
block scripts
  script(type="module" src="src/ts/index.ts")