//Sass Mixins
//-- clearfix
@mixin clearfix {
	&:after {
		display: block;
		clear: both;
		width: 0;
		height: 0;
		visibility: hidden;
		content: '';
	}
}

//-- Set Breakpoint
@mixin bp($val) {
	@media screen and (min-width: breakpoint($val)) {
		@content;
	}
}