html, body {
	overflow: auto;
	min-width: 100%;
	min-height: 100%;
}

html {
	height: 100%;
	font-size: .625em;
}

body {
	position: relative;
	// background: {add background settings};
  	// font: {add font settings}
}