extends  ./pug/base/template

//- This block will be injected to basic tmpl
block content

//- This block will be injected to basic tmpl
block scripts
  //- script(src="js/libs/<lib-name>.js", defer)
  script(src="js/scripts.min.js")